<img src="JC.gif" alt="#" width="100" height="100">

<div>
  <span class="card rank-{{rank}} {{suit}}">

    <span class="rank">{{rank}}</span>

    <span class="suit">{{getSymbol()}}</span>

  </span>
</div>

